/.metadata/

/.recommenders/

# Maven 
target/
# eclipse project file
.settings/
.classpath
.project

*.log
*.gz
.idea
back-end/.idea
api-gateway/logs/api-gateway.log
api-gateway/logs/authorization-service.log
api-gateway/logs/common-service.log
api-gateway/logs/discovery-server.log
